#tooltip.hidden
{
    display:none;
}
#tooltip
{
    position:absolute;
    width:120px;
    height:auto;
    padding: 10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,4);
    pointer-events:none;
}
#top{
    text-align: center;
    width:auto;
    height:110;
    background-color:orange;
    padding: 10 10 10 10;
    font-size:20;
    
}
#tooltip2{
     position:absolute;
    width:120px;
    height:auto;
    padding: 10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,4);
    pointer-events:none;
}
#tooltip2.hidden1{
    display: none
}